<header class="header">
  <div class="header-container">
    <div class="logo" routerLink="">
      <span class="logo-highlight">Aqua</span>Sentinel AI
    </div>

    <!-- Navigation -->
    <nav class="nav">
      <a href="#" class="nav-link" routerLink="">Trang chủ</a>
      <!-- <a href="#" class="nav-link">Tính năng</a> -->
      <a href="#" class="nav-link" routerLink="/dashboard">Bảng điều khiển</a>
      <!-- <a href="#" class="nav-link">Về chúng tôi</a> -->
    </nav>

    <!-- Actions -->
    <div class="actions">
      <!-- Not Logged In -->
      <ng-container *ngIf="!authService.isAuthenticated()">
        <button class="btn btn-login" routerLink="/login">Đăng nhập</button>
        <button class="btn btn-signup" routerLink="/signup">Đăng ký</button>
      </ng-container>

      <!-- Logged In -->
      <ng-container *ngIf="authService.isAuthenticated()">
        <span class="user-name">Xin chào, {{ authService.currentUser()?.email }}</span>
        <button class="btn btn-logout" (click)="logout()">Đăng xuất</button>
      </ng-container>
    </div>
  </div>
</header>